:root {
    --background-color:#EEEEEE;
    --border-color:#EEEEEE;

    --navigation-bar-color:#222831;
    --content-background-color:#222831;

    --hover-navigation-bar-hover:#393E46;

    --navigation-bar-text:#00ADB5;
    --content-text-color:#00ADB5;

}

body {
    background-color: var(--background-color);
}

.Navigation-Bar {
    list-style-type: none;
    position: relative;
    width : 60%;
    top: 50px;

    border-radius: 25px;
    padding: 0px 25px;
    overflow: hidden;
    background-color: var(--navigation-bar-color);
    margin: auto;

}

.Navigation-Bar li {
    float :left
}

.Navigation-Bar li button {
    all: unset;
    display: block;
    width: 120px;
    height: 40px;

    color: var(--navigation-bar-text);
    font-size:24px ;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.Navigation-Bar li button:hover {
    background-color: var(--hover-navigation-bar-hover);
}

.Content {
    position: relative;
    width : 60%;
    height: 550px;
    top: 100px;

    border-radius: 25px;
    padding: 10px 25px;
    background-color: var(--content-background-color);
    color: var(--content-text-color);
    font-size:20px ;
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
}

th, td {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    padding: 5px;
}

